@import "../colors.scss";

.generateChords {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.chordHolder {
  margin: 5px 0px 15px 0px;
  overflow-wrap: anywhere;
  width: 440px;
}
