// dark colors
$darkBlue: #2b2d42;
$black: #333333;

// light colors
$white: #bbbbbb;

// highlighter colors
$softPink: #ff81d3;
$hotPink: #ff68ca;
$softPurple: #b6b0ff;
$hotPurple: #c180ff;
$hotCyan: #14e7ff;
$softCyan: #92dce5;
$hotGreen: #48ff14;
$hotYellow: #eeff14;
$hotOrange: #f09e06;
