// dark colors
$darkBlue: #2b2d42;
$black: #333333;

// light colors
$white: #bbbbbb;

// highlighter colors
$softPink: #ff81d3;
$hotPink: #ff68ca;
$softPurple: #b6b0ff;
$hotPurple: #c180ff;
$hotCyan: #14e7ff;
$softCyan: #92dce5;
$hotAqua: #39d4bb;
$softAqua: #399999;
$hotGreen: #2fb863;
$softGreen: #87ab7c;
$hotYellow: #eeff14;
$hotOrange: #dfae45;
$softOrange: #e9c194;
$hotRed: #dd7474;
$softRed: #e99999;
