html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", "Source Code Pro", monospace;
  background: $black;
  color: $white;
}
button {
  margin: 10px 10px 20px 10px;
  border: 0;
  padding: 10px;
  font-family: "Roboto Mono", "Source Code Pro", monospace;
  height: 80px;
  width: 100px;
  box-shadow: $white -5px 5px;
  cursor: pointer;
  color: $black;
}
button:active {
  box-shadow: none;
  margin: 20px 20px 20px 10px;
}
button:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  font-family: "Roboto Mono", "Source Code Pro", monospace;
  width: 300px;
  height: 50px;
  background: $white;
  border: none;
  padding-left: 12px;
  margin: 10px 0px 20px 0px;
  box-shadow: #898989 -5px 5px;
  font-size: 16px;
  color: $black;
}
input:focus {
  outline: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
