html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", "Source Code Pro", monospace;
  background: $black;
  color: $white;
}
button {
  margin: 10px 10px 20px 10px;
  border: 0;
  padding: 10px;
  font-family: "Roboto Mono", "Source Code Pro", monospace;
  height: 80px;
  width: 100px;
  box-shadow: $white -5px 5px;
  cursor: pointer;
}
button:active {
  box-shadow: none;
  margin: 20px 20px 20px 10px;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
