@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", "Source Code Pro", monospace;
  background: rgb(119, 119, 119);
}

div {
  text-align: center;
}

button {
  width: 100px;
}

.generate-chords {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.chord-holder {
  font-size: 48px;
  margin-top: 15px;
  overflow-wrap: anywhere;
  width: 4.5ch;
}

.lyrics-holder {
  margin: 20px auto;
  width: 25%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
